<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jhkim.office</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jhkim/.nvm/versions/node/v24.13.0/bin/node</string>
        <string>/Users/jhkim/Programmer/kinkos1234-github-blog/chrome-starting-page/server.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/jhkim/Programmer/kinkos1234-github-blog/chrome-starting-page</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jhkim/Programmer/kinkos1234-github-blog/chrome-starting-page/server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jhkim/Programmer/kinkos1234-github-blog/chrome-starting-page/server.error.log</string>
</dict>
</plist>
